//! **************************************************************************
// Written by: Map P.20131013 on Wed Oct 10 16:34:48 2018
//! **************************************************************************

SCHEMATIC START;
COMP "WR1_ENA" LOCATE = SITE "P56" LEVEL 1;
COMP "WR2_ENA" LOCATE = SITE "P119" LEVEL 1;
COMP "SSTIN_N" LOCATE = SITE "P43" LEVEL 1;
COMP "SSTIN_P" LOCATE = SITE "P44" LEVEL 1;
COMP "CLR" LOCATE = SITE "P78" LEVEL 1;
COMP "SIN" LOCATE = SITE "P143" LEVEL 1;
COMP "RD_ROWSEL_S<0>" LOCATE = SITE "P59" LEVEL 1;
COMP "RD_ROWSEL_S<1>" LOCATE = SITE "P61" LEVEL 1;
COMP "RD_ROWSEL_S<2>" LOCATE = SITE "P62" LEVEL 1;
COMP "SAMPLESEL_ANY" LOCATE = SITE "P105" LEVEL 1;
COMP "SR_CLEAR" LOCATE = SITE "P94" LEVEL 1;
COMP "DONE" LOCATE = SITE "P79" LEVEL 1;
COMP "PCLK" LOCATE = SITE "P6" LEVEL 1;
COMP "RAMP" LOCATE = SITE "P58" LEVEL 1;
COMP "SCLK" LOCATE = SITE "P5" LEVEL 1;
COMP "WL_CLK_N" LOCATE = SITE "P120" LEVEL 1;
COMP "WL_CLK_P" LOCATE = SITE "P121" LEVEL 1;
COMP "RX_N" LOCATE = SITE "P127" LEVEL 1;
COMP "RX_P" LOCATE = SITE "P126" LEVEL 1;
COMP "TX_N" LOCATE = SITE "P142" LEVEL 1;
COMP "TX_P" LOCATE = SITE "P141" LEVEL 1;
COMP "SAMPLESEL_S<0>" LOCATE = SITE "P111" LEVEL 1;
COMP "SAMPLESEL_S<1>" LOCATE = SITE "P112" LEVEL 1;
COMP "SAMPLESEL_S<2>" LOCATE = SITE "P114" LEVEL 1;
COMP "SAMPLESEL_S<3>" LOCATE = SITE "P115" LEVEL 1;
COMP "SAMPLESEL_S<4>" LOCATE = SITE "P116" LEVEL 1;
COMP "SHOUT" LOCATE = SITE "P7" LEVEL 1;
COMP "RD_COLSEL_S<0>" LOCATE = SITE "P14" LEVEL 1;
COMP "RD_COLSEL_S<1>" LOCATE = SITE "P15" LEVEL 1;
COMP "RD_COLSEL_S<2>" LOCATE = SITE "P16" LEVEL 1;
COMP "RD_COLSEL_S<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "RD_COLSEL_S<4>" LOCATE = SITE "P21" LEVEL 1;
COMP "RD_COLSEL_S<5>" LOCATE = SITE "P22" LEVEL 1;
COMP "TX_DATA<10>" LOCATE = SITE "P98" LEVEL 1;
COMP "TX_DATA<11>" LOCATE = SITE "P99" LEVEL 1;
COMP "TX_DATA<12>" LOCATE = SITE "P100" LEVEL 1;
COMP "TX_DATA<13>" LOCATE = SITE "P101" LEVEL 1;
COMP "TX_DATA<14>" LOCATE = SITE "P102" LEVEL 1;
COMP "TX_DATA<15>" LOCATE = SITE "P104" LEVEL 1;
COMP "REGCLR" LOCATE = SITE "P67" LEVEL 1;
COMP "RD_ENA" LOCATE = SITE "P66" LEVEL 1;
COMP "SR_CLK" LOCATE = SITE "P93" LEVEL 1;
COMP "SYNC_N" LOCATE = SITE "P2" LEVEL 1;
COMP "SYNC_P" LOCATE = SITE "P1" LEVEL 1;
COMP "SR_SEL" LOCATE = SITE "P92" LEVEL 1;
COMP "WR_ADDRCLR" LOCATE = SITE "P55" LEVEL 1;
COMP "TX_DATA<0>" LOCATE = SITE "P80" LEVEL 1;
COMP "TX_DATA<1>" LOCATE = SITE "P81" LEVEL 1;
COMP "TX_DATA<2>" LOCATE = SITE "P82" LEVEL 1;
COMP "TX_DATA<3>" LOCATE = SITE "P83" LEVEL 1;
COMP "TX_DATA<4>" LOCATE = SITE "P84" LEVEL 1;
COMP "TX_DATA<5>" LOCATE = SITE "P85" LEVEL 1;
COMP "TX_DATA<6>" LOCATE = SITE "P87" LEVEL 1;
COMP "TX_DATA<7>" LOCATE = SITE "P88" LEVEL 1;
COMP "TX_DATA<8>" LOCATE = SITE "P95" LEVEL 1;
COMP "TX_DATA<9>" LOCATE = SITE "P97" LEVEL 1;
COMP "FLASH_CLK" LOCATE = SITE "P70" LEVEL 1;
COMP "DAC_LDAC" LOCATE = SITE "P50" LEVEL 1;
COMP "DAC_SCLK" LOCATE = SITE "P47" LEVEL 1;
COMP "DAC_SYNC" LOCATE = SITE "P48" LEVEL 1;
COMP "TX_TRIG<0>" LOCATE = SITE "P34" LEVEL 1;
COMP "TX_TRIG<1>" LOCATE = SITE "P33" LEVEL 1;
COMP "TX_TRIG<2>" LOCATE = SITE "P8" LEVEL 1;
COMP "TX_TRIG<3>" LOCATE = SITE "P9" LEVEL 1;
COMP "TX_TRIG<4>" LOCATE = SITE "P10" LEVEL 1;
COMP "FLASH_DI" LOCATE = SITE "P64" LEVEL 1;
COMP "FLASH_DO" LOCATE = SITE "P65" LEVEL 1;
COMP "FLASH_CS" LOCATE = SITE "P38" LEVEL 1;
COMP "DAC_SDI" LOCATE = SITE "P46" LEVEL 1;
COMP "SYSCLK_N" LOCATE = SITE "P123" LEVEL 1;
COMP "SYSCLK_P" LOCATE = SITE "P124" LEVEL 1;
SCHEMATIC END;

